<h1>Hello World</h1>

{{!-- {{#if artworks}}
<div class="artwork-container">
    {{#each artworks}}
    <h2>{{title}}</h2>
    <img src="{{url}}"> {{/each}}
</div>
{{/if}} --}} {{ artworks }} {{title}} {{url}}