<h2 class="manga-title">{{title}}</h2>
<img src="{{url}}" alt="Image not found." onerror=this.src="https://i.imgur.com/5vuDBOj.png">
<h4>Submitted by: {{author}}</h4>

{{#compare currentUser.local.email "==" author}}

<form action="/{{_id}}?_method=delete" method="POST">
    <input type="submit" value="Delete">
</form>

<form action="/{{_id}}?_method=put" method="POST">
    <label>Edit Title:</label>
    <input type="text" value="{{title}}" name="title">
    <label>Edit URL:</label>
    <input type="text" value="{{url}}" name="url">
    <input type="submit" value="Update">
</form>

{{/compare}}